
.logo-header{
    background-color: #238ECB;
    display: flex;
    width: auto;
    height: 80px;
    

}




.logo-footer{
    background-color: #238ECB;
    display: flex;
    width: auto;
    height: 80px;
    
}

.menu-footer{
    display: flex;
    
  
}